<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.CUBRIDDialect</property>
    <property name="connection.driver_class">NHibernate.Driver.CUBRIDDriver</property>
    <property name="connection.connection_string">server=localhost;database=demodb;port=33000;user=public;password=</property>

    <property name="show_sql">false</property>
  </session-factory>
</hibernate-configuration>