<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CUBRID" connectionString="server=test-db-server;database=demodb;port=33000;user=dba;password=" providerName="CUBRID.Data.CUBRIDClient" />
    <add name="CUBRID2" connectionString="server=test-db-server;database=demodb;port=33000;user=public;password=" providerName="CUBRID.Data.CUBRIDClient" />
   </connectionStrings>
  <appSettings>
    <add key="DBName" value="demodb" />
    <add key="DBName2" value="demodb2" />
    <add key="DBVersion" value="9.3.0.0206"/>
    <add key="ServerName" value="test-db-server"/>
	<add key="Port" value="33000"/>
  </appSettings>
</configuration>